[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kwooty_watchfoldersettings
X-KDE-ParentComponents=kwooty_watchfolderplugin
X-KDE-PluginInfo-Name=kwooty_watchfoldersettings
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL

Name=Watch folder Configuration
Name[pl]=Ustawienia katalogu obserwowanego
Name[pt_BR]=Configuração do monitoramento de pasta
Name[sv]=Inställning av katalogövervakning
Name[uk]=Налаштування спостереження за текою
Name[x-test]=xxWatch folder Configurationxx
name[cs]=Nastavení sledování složek

