[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_watchfolderplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_watchfolderplugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=folder-sync

Name=Watch Folder
Name[cs]=Sledování složek
Name[de]=Verzeichnisbeobachtung
Name[fr]=Dossier à surveiller

Comment=Watch folder for nzb files and load them
Comment[cs]=Prohledává složku kvůli souborům nzb a nahrává je
Comment[de]=Verzeichnis auf neue nzb Dateien überwachen
Comment[fr]=Surveille la présence de fichiers nzb dans un dossier et les charge

