[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_watchfolderplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_watchfolderplugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=folder-sync

Name=Watch Folder
Name[de]=Ordner überwachen
Name[pl]=Obserwowany katalog
Name[uk]=Спостереження за текою
Name[x-test]=xxWatch Folderxx

Comment=Watch folder for nzb files and load them
Comment[pl]=Obserwuj katalog na występowanie plików nzb i wczytuj je
Comment[uk]=Шукати у теці файли nzb і завантажувати їх
Comment[x-test]=xxWatch folder for nzb files and load themxx

