[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_autoretryplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_autoretryplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=task-recurring

Name=Automatic Retry
Comment=Re-download corrupted files automatically
Name[cs]=Nový pokus automaticky
Name[de]=Automatische Downloadwiederholung
Name[fr]=Nouvel essai automatique
Comment[cs]=Automaticky stáhnout poškozené soubory znovu
Comment[de]=Automatisches Wiederholen von Downloads bei defekten Dateien 
Comment[fr]=Retélécharge automatiquement les fichiers corrompus