[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_autoretryplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_autoretryplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=task-recurring

Name=Automatic Retry
Name[de]=Automatisch versuchen
Name[es]=Reintento automático
Name[gl]=Intentar de novo automaticamente
Name[it]=Tentativo automatico
Name[nl]=Automatisch opnieuw proberen
Name[pl]=Samoczynne ponowienie
Name[pt]=Repetição Automática
Name[pt_BR]=Repetição automática
Name[sv]=Försök igen automatiskt
Name[uk]=Автоматичні повторні спроби
Name[x-test]=xxAutomatic Retryxx
Comment=Re-download corrupted files automatically
Comment[de]=Defekte Dateien automatisch wieder herunterladen
Comment[es]=Volver a descargar archivos dañados de forma automática
Comment[gl]=Descargar de novo automaticamente os ficheiros corrompidos.
Comment[it]=Riscarica automaticamente i file danneggiati
Comment[nl]=Automatisch beschadigde bestanden opnieuw downloaden
Comment[pl]=Samoczynnie wznów pobieranie uszkodzonego pliku
Comment[pt]=Voltar a transferir automaticamente os ficheiros danificados
Comment[pt_BR]=Baixar novamente os arquivos corrompidos
Comment[sv]=Ladda ner felaktiga filer igen automatiskt
Comment[uk]=Автоматично повторно отримувати файли, якщо виявлено пошкодження
Comment[x-test]=xxRe-download corrupted files automaticallyxx
