[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kwooty_autoretrysettings
X-KDE-ParentComponents=kwooty_autoretryplugin
X-KDE-PluginInfo-Name=kwooty_autoretrysettings
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL

Name=Automatic download retry Configuration
Name[de]=Automatic download retry Configuration
name[cs]=Automatic download retry Configuration
