[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_schedulerplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_schedulerplugin
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=view-calendar

Name=Bandwidth manager
Name[de]=Bandbreitenverwaltung
Name[pl]=Zarządzanie przepustowością
Name[uk]=Керування потоком даних
Name[x-test]=xxBandwidth managerxx
name[cs]=Správce šířky pásma

Comment=Schedule and limit bandwidth
Comment[pl]=Zaplanuj i ogranicz przepustowość
Comment[uk]=Планування і обмеження потоку даних
Comment[x-test]=xxSchedule and limit bandwidthxx

