[Desktop Entry]
X-Kwooty-Plugin-Version=1
X-KDE-Library=kwooty_schedulerplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_schedulerplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=view-calendar

Name=Bandwidth manager
Name[de]=Bandwidth manager
Name[cs]=Bandwidth manager
Comment=Schedule and limit bandwidth
Comment[de]=Schedule and limit bandwidth
Comment[cs]=Schedule and limit bandwidth
