[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kwooty_schedulersettings
X-KDE-ParentComponents=kwooty_schedulerplugin
X-KDE-PluginInfo-Name=kwooty_schedulersettings
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL

Name=Scheduler Configuration
Name[gl]=Configuración do planificador
Name[nl]=Instelling van planner
Name[pl]=Ustawienia planu
Name[pt]=Configuração do Escalonamento
Name[pt_BR]=Configuração do agendador
Name[sv]=Inställning av schemaläggning
Name[uk]=Налаштування планувальника
Name[x-test]=xxScheduler Configurationxx
name[cs]=Nastavení plánovače
