[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_schedulerplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_schedulerplugin
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=view-calendar

Name=Bandwidth manager
name[cs]=Správce šířky pásma
Name[de]=Bandbreitenverwaltung
Comment=Schedule and limit bandwidth
Comment[cs]=Rozvržení a omezení šířky pásma
Comment[de]=Planung und Begrenzung der Bandbreite

