[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_categoriesplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_categoriesplugin
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=folder-favorites

Name=Categories
Name[cs]=Kategorie
Name[de]=Kategorien
Name[es]=Categorías
Name[gl]=Categorías
Name[nl]=Categorieën
Name[pl]=Kategorie
Name[pt]=Categorias
Name[pt_BR]=Categorias
Name[sk]=Kategórie
Name[sv]=Kategorier
Name[uk]=Категорії
Name[x-test]=xxCategoriesxx

Comment=Transfer downloaded contents to favorite folders
Comment[de]=Heruntergeladene Inhalte in bevorzugte Ordner übertragen
Comment[es]=Transferir el contenido descargado a las carpetas favoritas
Comment[gl]=Transferir o contido descargado aos cartafoles favoritos.
Comment[nl]=Gedownloade inhoud naar voorkeurmappen overbrengen
Comment[pl]=Przenieś pobrane pliki do ulubionych katalogów
Comment[pt]=Transferir o conteúdo transferido para as pastas favoritas
Comment[pt_BR]=Transferir os conteúdos baixados para as pastas favoritas
Comment[sv]=Överför nerladdat innehåll till favoritkataloger
Comment[uk]=Перенести отримані дані до улюблених каталогів
Comment[x-test]=xxTransfer downloaded contents to favorite foldersxx

