[Desktop Entry]
X-Kwooty-Plugin-Version=2
X-KDE-Library=kwooty_categoriesplugin
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Name=kwooty_categoriesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kwooty.sourceforge.net
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
ServiceTypes=Kwooty/Plugin
Type=Service
Icon=folder-favorites

Name=Categories
Name[cs]=Skupiny
Name[de]=Categories
Name[fr]=Catégories

Comment=Transfer downloaded contents to favorite folders
Comment[cs]=Přesunout stažený obsah do složek s oblíbenými
Comment[de]=Transfer downloaded contents to favorite folders
Comment[fr]=Transférer le contenu téléchargé vers des dossiers préférés

