[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kwooty_categoriessettings
X-KDE-ParentComponents=kwooty_categoriesplugin
X-KDE-PluginInfo-Name=kwooty_categoriessettings
X-KDE-PluginInfo-Author=Xavier Lefage
X-KDE-PluginInfo-Email=xavier.kwooty@gmail.com
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-License=GPL

Name=File Categories
Name[de]=Datei-Kategorien
Name[pl]=Kategorie plików
Name[uk]=Категорії файлів
Name[x-test]=xxFile Categoriesxx
name[cs]=Skupiny souborů

