<?xml version="1.0" encoding="UTF-8"?>
<gui name="Kwooty"
        version="5"
        xmlns="http://www.kde.org/standards/kxmlgui/1.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
        http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
<MenuBar>
    <Menu name="file">
	   <Action name="clear"/>
    </Menu>
    <Menu name="download" ><text>Download</text>
	   <Action name="start"/>
	   <Action name="pause"/>
	   <Action name="retryDownload"/>
	   <Separator/>
	   <Action name="remove"/>
	   <Separator/>
	   <Action name="moveDown"/>
	   <Action name="moveUp"/>
	   <Separator/>
	   <Action name="moveBottom"/>
	   <Action name="moveTop"/> 
	   <Separator/>
	   <Action name="downloadFolder"/>
	   <Separator/>
           <Action name="mergeNzb"/>
	   <Separator/>
	   <Action name="shutdown"/>
    </Menu>   
</MenuBar>

<ToolBar name="mainToolBar"> <text>Main Toolbar</text>
	<Action name="clear"/>
	<Separator/>
	<Action name="start"/>
	<Action name="pause"/>
	<Separator/>
	<Action name="remove"/>
	<Separator/>
	<Action name="moveDown"/>
	<Action name="moveUp"/>
	<Separator/>
	<Action name="downloadFolder"/>
	<Separator/>
	<Action name="shutdown"/>
</ToolBar>
</gui>
