[Desktop Entry]
MimeType=application/x-nzb;
Name=Kwooty
GenericName=Nzb usenet client
Icon=kwooty
Exec=kwooty
Type=Application
Categories=Qt;KDE;Network;Internet;News;
Terminal=false
