[Desktop Entry]
Name=Kwooty
GenericName=Nzb usenet client
Icon=kwooty
Exec=kwooty
Type=Application
Categories=Qt;KDE;Application;Network;Internet;
Terminal=false



 
