[Desktop Entry]
MimeType=application/x-nzb;
Name=Kwooty
Name[cs]=Kwooty
Name[de]=Kwooty
Name[gl]=Kwooty
Name[nl]=Kwooty
Name[pl]=Kwooty
Name[pt]=Kwooty
Name[pt_BR]=Kwooty
Name[sk]=Kwooty
Name[sv]=Kwooty
Name[uk]=Kwooty
Name[x-test]=xxKwootyxx
GenericName=Nzb usenet client
GenericName[gl]=Cliente de usenet de Nzb.
GenericName[nl]=Nzb usenet-client
GenericName[pl]=Klient usenet Nzb
GenericName[pt]=Cliente de Nzb da Usenet
GenericName[pt_BR]=Cliente usenet Nzb
GenericName[sv]=Nzb usenet-klient
GenericName[uk]=Клієнт usenet nzb
GenericName[x-test]=xxNzb usenet clientxx
Icon=kwooty
Exec=kwooty
Type=Application
Categories=Qt;KDE;Network;News;
Terminal=false
