[Desktop Entry]
MimeType=application/x-nzb;
Name=Kwooty
Name[de]=Kwooty
Name[nl]=Kwooty
Name[pl]=Kwooty
Name[sk]=Kwooty
Name[uk]=Kwooty
Name[x-test]=xxKwootyxx
GenericName=Nzb usenet client
GenericName[nl]=Nzb usenet-client
GenericName[pl]=Klient usenet Nzb
GenericName[uk]=Клієнт usenet nzb
GenericName[x-test]=xxNzb usenet clientxx
Icon=kwooty
Exec=kwooty
Type=Application
Categories=Qt;KDE;Network;News;
Terminal=false
X-DBUS-ServiceName=org.kde.kwooty
